.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
}

/* สไตล์ */
.categoryItem.style {
  background-color: rgba(100, 180, 255, 0.35); /* ฟ้าเทาอ่อน */
}

/* อาหาร */
.categoryItem.food {
  background-color: rgba(139, 190, 138, 0.35); /* เขียวมัทฉะอ่อน */
}

/* ท่องเที่ยว */
.categoryItem.travel {
  background-color: rgba(255, 150, 120, 0.35); /* แดงพีชอ่อน */
}

/* วัฒนธรรม */
.categoryItem.culture {
  background-color: rgba(255, 200, 120, 0.35); /* ส้มพาสเทลอ่อน */
}

/* โค้ดดิ้ง */
.categoryItem.coding {
  background-color: rgba(140, 120, 255, 0.35); /* ม่วงน้ำเงินอ่อน */
}
